@media only screen and (max-width:820px){
.section-p1{
    padding: 40px 69px!important;
}

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-380px;
        height: 100vh;
        width: 360px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;

    }
    #navbar.active{
        right: 0px;
    }
    
    #navbar li{
        margin-bottom:30px ;
    }
    #close{
        display: initial!important;
        position: absolute!important;
        top: 30px;
        left: 32px;
        color: black;
        font-size: 35px;
    }
  
    .menu-bar{
   
    
        display: inline-block!important;
        align-items: center!important;
        justify-content: space-between!important;
        color: black;
        font-size: 35px;      
             }
        #lg-bag{
            display: none;
        }
        .hero{
            height: 37vh!important;
            padding: 0 80px;
            background-position: top 30% right 30%;
        }
        .pro-container{
            justify-content: center!important;
        }
        .pro{
            margin: 15px!important;
        }
        .banner{
            height: 16vh!important;
        }
        .normal{
            padding: 6px 40px;
        }
        .sm-banner .banner-box{
            height: 30vh!important;
            width: 100%;
            min-width: 673px!important;
        }
      .banner3{
          display: flex!important;
          flex-direction:column!important;
            padding: 6px 40px!important;
        } 
        .banner3 .banner-box{
            height: 26vh!important;
            padding: 4px;
            
        }
        .newsletter{
            padding: 26px 17px!important;
        }
        .newsletter input {
            padding: 0px 3.25rem!important;
        }
        .form-details{
            padding:14px!important;
        
        }
        .form-details form{
            width: 50%!important;
        }
       
    }
  @media (max-width:477px){
    .section-p1{
        padding: 20px!important;
    }
    #header {
        padding: 10px 30px!important;
      
    }
    h1{
        font-size: 38px!important;
    }
    h2{
        font-size: 32px!important;
    }
    .hero {
  
        padding: 0px 24px!important;
        background-position: 55%!important;
      
    }
    .feature .fe-box {
        width: 114px!important;
        padding: 14px 4px!important;
       
    }
    .product1 .pro {
        width: 100%!important;
       
    }
    .banner {
        height: 29vh !important;
    }
    .sm-banner .banner-box {
      padding-right: 10px!important;
        height: 30vh !important;
       margin-top: 20px!important;
    }
    .newsletter input {
        padding: 0px 6.25rem !important;
    }
    #product-det {
        display: flex;
       flex-direction: column!important;
    }
    #product-det .single-pro {
        width: 100%!important;
       
    }
    #product-det .single-pro-det {
        width: 100%!important;
      
    }
    
    .blogs .blog-box {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
       
    }
    .blogs{
        padding: 100px 20px 0 20px!important;
    }
    .blogs .blog-img{
        width: 100%!important;
        margin-right: 0px!important;
        margin-bottom: 30px!important;
    }
    .blogs .blog-details {
        width: 100%!important;
        margin-right: 0px!important;
    }
  
  /* about page */
 .About{
    flex-direction: column;
 }
 .About img{
    width: 100%!important;
    padding-top: 12px;
    padding-bottom: 20px;
 }
 .About div {
    padding-left: 0px!important;
}
.about-app .video {
    width: 100%!important;
    
}
.about-app video {
    width: 100%!important;
    
}
/* contact */
.contact{
    flex-direction:column ;
}
.details {
    width: 100%!important;
}
.map {
    width: 100%!important;
    height: 255px!important;
}
.form-details{
    margin: 10px;
    padding: 30px 10px;
   flex-wrap: wrap;
}
.form-details form{
    width: 100%!important;
    margin-bottom: 30px;
}
/* cart */
.cart-add{
  flex-direction: column;}
  .coupon {
    width: 100%!important;
   
}
.subtotal {
    width: 100%!important;
   
}
.subtotal button.normal {
   
    padding: 12px 63px!important;
  
}
}